* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.disnone {
  display: none;
}

body {
  background-color: #121617;
  margin: 0;
  padding: 0;
}

body .container {
  width: 80%;
  padding-top: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .card {
  margin: auto;
  background-color: #202731;
  width: clamp(250px, 350px, 400px);
  height: clamp(250px, 350px, 400px);
  border-radius: 20px;
  padding: 30px;
  padding-bottom: 40px;
}

body .container .card .card-header span {
  padding: 10px;
  background-color: #262f36;
  border-radius: 50%;
}

body .container .card .card-header img {
  width: 17px;
  height: 16px;
}

body .container .card .card-body {
  color: white;
  font-family: 'Arial Narrow';
  font-weight: 100;
}

body .container .card .card-body h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

body .container .card .card-body p {
  color: #bdbdbd;
}

body .container .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .card .card-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

body .container .card .card-footer ul li {
  background-color: #262f36;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: antiquewhite;
}

body .container .card .card-footer ul .oren {
  background-color: #FC7614;
}

body .container .card button {
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background-color: #FC7614;
  border: none;
  border-radius: 30px;
  color: white;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 5px;
}

body .container .card button:active {
  background-color: #5d5d5d;
}

body .container .card .kartu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .card .kartu p.hasil {
  margin-top: 30px;
  width: 80%;
  border-radius: 30px;
  height: 30px;
  background-color: #262f36;
  color: #FC7614;
  text-align: center;
  line-height: 30px;
  font-family: Arial, sans-serif;
  font-size: .93rem;
}

body .container .card .kartu h1 {
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: Verdana, sans-serif;
}

body .container .card .kartu p {
  color: white;
  font-family: 'Arial Narrow';
  color: #bdbdbd;
  font-weight: 100;
  text-align: center;
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */